body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}
nav {
  margin: 1.5em 0 1em;
}
#searchbar{
  margin: 3em 0;
}
.list-group {
  margin: 2em 0;
}
#intro-text {
  margin: 0 0 3em 0;
}
