<!-- templates/index.html -->
<!-- TODO(zooraze): separate template parts (i.e. head, body, footer) into components  -->
<!doctype html>
<html lang="en">

<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Twitter API | Sleepybird</title>
  <!-- Resources -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="container">
  <!-- Title -->
  <h1 class="p-3 text-center">sleepybird</h1>
  <!-- Searchbox -->
  <div class="row justify-content-center">
    <form id="searchbar" class="form-inline" method="GET" action="/">
      <input class="form-control" type="text" name="q">
      <button class="btn btn-primary" type="submit">search</button>
    </form>
  </div>
  <!-- Results -->
  <h5 class="p-3 text-center">Showing results for "{{search_term}}":</h5>
  <p class="text-center">2019-06-24 06:36:27</p>
  <p class="text-center">Total words in all tweets: ~9830</p>
  <p class="text-center">Top 10: the, at, of, and, a, to, this, her, would, him</p>
  {% for result in results %}
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <img src="{{result.headshot_url}}" class="w-12 p-1 float-left image-thumbnail">
        <h5 class="ml-10 w-75 mb-1">{{ result.tweet }}</h5>
        <small>{{ result.created_at }}</small>
      </div>
    </a>
  </div>
  {% endfor %}
  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

</html>