{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{search_term}} | sleepybird{% endblock %}

{% block page_content %}
<div class="container">
    <!-- Searchbox -->
    {{ macros.searchbar('.root') }}
    <!-- Result Header -->
    <h5 class="p-3 text-center">Showing results for "{{search_term}}":</h5>
    <p class="text-center">{{current_time}} | Total words in all tweets: ~{{word_count}}</p>
    <!-- Top Words Table -->
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#top-words-tbl"
            aria-expanded="false" aria-controls="top-words-tbl">Top 10 Most Frequent Words</button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse" id="top-words-tbl">
                <div class="card card-body">
                    <div class="row justify-content-center">
                        <table id="top-words-tbl">
                            <tr>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                            {% for word, count in top_words_counter %}
                            <tr>
                                <td>{{word}}</td>
                                <td>{{count }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <!-- TODO(zooraze): move to macro/function? -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% for p in pages %}
                    <li class="page-item {{p['class']}}">
                        <a href="{{ url_for('.root', page = p['href'], q = search_term)}}" class="page-link"
                            aria-label={{p['page']}}>
                            <span aria-hidden="true">{{p['page_label'] | safe}}</span>
                            <span class="sr-only">{{p['page_label'] | safe}}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </ul>
    </nav>
    <!-- Results -->
    {% for result in results %}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <img src="{{result.headshot_url}}" class="w-12 p-1 float-left image-thumbnail">
                <h5 class="ml-10 w-75 mb-1">{{ result.tweet }}</h5>
                <small>{{ result.created_at }}</small>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}